h2{
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    line-height: 45px;
}
p, ol, ul {
    text-align: justify;
    margin: 0 0 10px;
    line-height: 2em;
}
.container{
    padding: 0px 60px;
    /* padding-top: 20px;  */
    margin-right: auto;
    margin-left: auto;
}