<div class="container" fxLayout="column">
    <h1 class="size-50" data-aos="fade-down" data-aos-duration="900" data-aos-easing="ease" data-aos-delay="0">About me</h1>
    <br/><br/><div fxFlex data-aos="fade-up" data-aos-duration="900" data-aos-easing="ease" data-aos-delay="0">
        <p *ngFor="let paragraph of aboutData.description">
            <strong>{{paragraph}}</strong>
        </p>
    </div>
    <div *ngFor="let hobby of aboutData.hobbies">
        <div fxLayout="row" fxLayoutGap="36px" fxFlex class="aboutActivities" data-aos="fade-up" data-aos-duration="900" 
        data-aos-easing="ease" data-aos-delay="0">
            <div fxFlex="78%"><h4>{{hobby.head}}</h4>
                <p *ngFor="let paragraph of hobby.description">{{paragraph}}</p>
            </div>
            <div fxFlex="22%">
                <div class="roundImgDiv">
                    <img class="roundImg" alt="Background image" src={{hobby.image}}>
                </div>
            </div>    
        </div>
    </div>