<div class="container">
    <div data-aos="fade-up"><h1 class="size-50">My <br> Experience</h1>
    <div class="h-25"></div>
    <strong>2+ years of relevant work experience in front-end development (AngularJS, Angular), 
            back-end (Java 8) and Database (Microsoft SQL Server).</strong>
            <div class="h-25"></div>
</div>
<div data-aos="fade-down">
    <ul class="timeline">
        <li class="timeline-event aos-init aos-animate" data-aos="fade-up">
            <label class="timeline-event-icon"></label>
            <div class="timeline-event-copy">
                <p class="timeline-event-thumbnail">July 2017 - Present</p>
                <h3>Newgen software Technologies Ltd</h3>
                <h4>Noida, India</h4>
                <p>
                    <span class="timeline-event-subthumbnail">July 2019-Present : (Web Application Development)
                    </span><br><br>
                        <span class="expContent"><strong>Currently working on the development of web portal to digitize business 
                        loan applications of a US based bank. This portal is inspired by the previous similar project that I 
                        worked on which attracted this current potential client for the company.</strong>
                        <br><b>1:</b> Worked on the GUI development using MVC architecture of AngularJS to create a SPA (Single
                        Page Application) portal.
                    </span>
                </p>
                <p>
                    <span class="timeline-event-subthumbnail">May 2019-July 2019 : (Multithreaded programming for developing Utility)
                    </span><br><br>
                        <span class="expContent"><strong>Created a Utility in JAVA for Transaction settlement processes.</strong>
                        <br><b>1:</b> Using JAVA's multi-threading property, created multiple parallel threads to concurrently
                        monitor and process settlement of transactions initiated by the Payment Gateway WebService.
                        <br><b>2:</b> The task of threads is to settle approved transactions and then to process balance transfer for
                        settled transactions.
                    </span>
                </p>
                <p>
                    <span class="timeline-event-subthumbnail">January 2019-May 2019 : (RESTful WebService Development)
                        </span><br><br>
                        <span class="expContent"><strong>Developed a common Payment Gateway WebService to integrate with the 
                        Enterprise Payment Solutions provided by JHA which could be used internally with different projects of Newgen.</strong>
                        <br><b>1:</b> Developed GUI and RESTful WebService using Jersey 2.x and Maven build tool.
                        <br><b>2:</b> Consumed SOAP web services provided for transaction processing by JHA to ensure secure 
                        payment through credit/debit card.
                        <br><b>3:</b> Using SQL Server created DB Scripts, Procedures and Functions to securely keep track of
                        each transaction's data.
                    </span>
                </p>
                <p>
                    <span class="timeline-event-subthumbnail">October 2017-January 2019 : (Web Application Development)
                    </span><br><br>
                    <span class="expContent"><strong>Developed a Loan Application Portal for the end customers of US based bank.</strong>
                    <br><b>1:</b> Worked on GUI development using MVC architecture of AngularJS.
                    <br><b>2:</b> Developed a responsive SPA(Single Page Application) web portal using AngularJS material and AngularJS framework's 
                    features along with jQuery and custom CSS styling to tackle the issue of cross-browser compatibility.
                    <br><b>3:</b> Used Java Socket Programming for connection between different servers and integration
                    with different APIs/Web Services.
                    <br><b>4:</b> Worked with SQL Server to create DB Scripts, Procedures, Triggers and Functions for securely
                    storing, manipulating and handling sensitive data of Bank.
                    <br><b>5:</b> Worked with Java Servlets to handle http requests, collect and consume input from users
                    through web forms of portal, present records from database, and for various other server side functionalities.
                    <br><b>6:</b> Used SVN for versioning and revision control of source code and other files.
                    <br><b>7:</b> Took hands-on experience in working with the Eclipse IDE for Java EE web application.
                    <br><b>8:</b> Developed a consolidated logical dashboard that can display a list of loan applications
                    to the banker and each application is a link to the portal containing corresponding customer's information.                
                </span></p>
                <p>
                    <span class="timeline-event-subthumbnail">July 2017-October 2017 : (Web Application Development)
                    </span><br><br><span class="expContent">Contributed in developing both client-side and server-side web application portal for 
                    mobile/desktop, which provided a channel for the prospective customers of the Bank to apply for loans.
                </span></p>
            </div>
        </li>
    </ul>
</div>
</div>