<div class="container">
    <p>2 years of professional work experience in front-end development (AngularJS), back-end development (Java 8) and
         Database (Microsoft SQL Server).</p>

        <p>In various capacities in software development for BPM (Business process management) with the Newgen Softwares Tech. Ltd., working on my current project, I have acquired skills in numerous phases of software development process including responsive UIs, consuming SOAP APIs, designing REST API, client side and server side coding as well as Database queries. Apart from technical skills I have also groomed my interpersonal skills including communication, co-operation with team and others, handling responsibilities and pressure points. 
    </p>
</div>