<div class="container">
    <div data-aos="fade-up"><h1 class="size-50">My <br> Experience</h1>
    <div class="h-25"></div>
    <strong>2+ years of relevant work experience in front-end development (AngularJS, Angular), 
            back-end (Java 8) and Database (Microsoft SQL Server).</strong>
            <div class="h-25"></div>
</div>
<div data-aos="fade-down">
    <ul class="timeline">
        <li class="timeline-event aos-init aos-animate" data-aos="fade-up">
            <label class="timeline-event-icon"></label>
            <div class="timeline-event-copy">
                <p class="timeline-event-thumbnail">July 2017 - Present</p>
                <h3>Newgen software Technologies Ltd</h3>
                <h4>Noida, India</h4>
                <p>
                    <br>
                    <span class="timeline-event-subthumbnail">July 2017-December 2017</span><br>In various capacities in software development for BPM (Business process management) with 
                    the Newgen Softwares Tech. Ltd., working on my current project, I have acquired skills in 
                    numerous phases of software development process including responsive UIs, consuming SOAP APIs, 
                    designing REST API, client side and server side coding as well as Database queries. Apart from 
                    technical skills I have also groomed my interpersonal skills including communication, 
                    co-operation with team and others, handling responsibilities and pressure points. 
                </p>
            </div>
        </li>
    </ul>
</div>
</div>