<div class="container">
    <h1 class="size-50" data-aos="fade-down">My <br/> Projects</h1>
    <div class="portfolio-inner clearfix">
        <!-- portfolio div -->
        <div class="portfolio-div">
            <div class="portfolio">
                <div class="no-padding portfolio_container clearfix" fxLayout="row" fxLayoutAlign="space-between">
                    <div class="fashion logo" fxFlex="25"
                    data-aos="zoom-in">
                        <a id="demo01" (click)="openProjectDialog('UB')" class="portfolio_item">
                                <img src="../assets/images/projects/01.jpg" alt="image" class="img-responsive"/>
                                <div class="portfolio_item_hover">
                                    <div class="portfolio-border clearfix">
                                        <div class="item_info"><span>Bank Portal to digitize Business Loan Application</span> 
                                            <em>Business Process Management</em> 
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
