    <div class="container" fxLayout="row">
        <div fxFlex="40">
            <div data-aos="fade-up" data-aos-duration="900" data-aos-easing="ease" data-aos-delay="0">
            <h1 class="size-50">Contact  Me</h1>
            <div class="h-25"></div>
        </div>
        <br>
        <br>
        <div data-aos="fade-left" data-aos-duration="900" data-aos-easing="ease" data-aos-delay="0">

            <h3>Mobile Number</h3>
            <p>+91 8512856841</p>
            <h3>Email</h3>
            <p>shashvatgupta39@gmail.com </p>

            <h3>Social Network</h3>

            <ul class="social">
                <li><a href="twitter.com/wastefulBaniya" target="_blank"><i class="iconify" data-icon="ion-social-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/shashvat27" target="_blank"><i class="iconify" data-icon="ion-social-instagram"></i></a></li>
                <li><a href="linkedin.com/in/shashvat-gupta-" target="_blank"><i class="iconify" data-icon="ion-social-linkedin"></i></a></li>
            </ul>
            <div class="clearfix"></div>
            <div class="h-25"></div>
        </div>
    </div>
    <div fxFlex fxLayout="column">
        <div fxFlex="15"></div>
        <div fxFlex="85" data-aos="fade-right" data-aos-duration="900" data-aos-easing="ease" data-aos-delay="0">
            <form class="contact-bg" id="contact-form" name="contact" method="post" novalidate="novalidate">
                <input type="text" name="name" class="form-control" placeholder="Your Name" />
                <input type="email" name="email" class="form-control" placeholder="Your E-mail" />
                <input type="text" name="phone" class="form-control" placeholder="Phone Number" />
                <textarea name="message" class="form-control" placeholder="Your Message" style="height:120px"></textarea>
                <button  id="submit" type="submit" name="submit" class="btn btn-glance">Send</button>
                <div id="success">
                    <p class="green textcenter"> Your message was sent successfully! I will be in touch as soon as I can. </p>
                </div>
                <div id="error">
                    <p> Something went wrong, try refreshing and submitting the form again. </p>
                </div>
            </form>
        </div>
    </div>
</div>