<!--The content below is only a placeholder and can be replaced.-->
<div data-aos="fade-up" data-aos-easing="ease" data-aos-duration="1200" data-aos-delay="0">
  <header id="header" class="navbar-fixed-top" (scroll)="scrollHandler($event)">
        <nav>
         <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/experience">Experience</a></li>
            <li><a routerLink="/projects">Projects</a></li>
            <li><a routerLink="/contact">Contact</a></li>
            <li><a routerLink="/about">About</a></li>
        </ul>
      </nav>
    </header>
  </div>
<div class="content">
<router-outlet></router-outlet>
</div>
