<div id="menuBar" data-aos="fade-up" data-aos-easing="ease" data-aos-duration="900" data-aos-delay="0">
  <header id="header" class="navbar-fixed-top" (scroll)="scrollHandler($event)">
        <nav>
         <ul>
            <li><a routerLink="/" class="activeLink" id="home" (click)="activateLink('home')" skipLocationChange>Home</a></li>
            <li><a routerLink="/experience" id="experience" (click)="activateLink('experience')" skipLocationChange>Experience</a></li>
            <li><a routerLink="/projects" id="projects" (click)="activateLink('projects')" skipLocationChange>Projects</a></li>
            <li><a routerLink="/about" id="about" (click)="activateLink('about')" skipLocationChange>About</a></li>
            <li><a routerLink="/contact" id="contact" (click)="activateLink('contact')" skipLocationChange>Contact</a></li>
        </ul>
      </nav>
    </header>
  </div>
<div class="content">
<router-outlet></router-outlet>
</div>
