nav, li{
	display: inline-block;
	margin: 10px;
}
.navbar-fixed-top{
	position: fixed;
	overflow: hidden !important;
	top:0;
	border-width: 0 0 1px;
}
nav, ul{
	display: inline-block;
	padding-left: 0;
	list-style: none;
	margin-bottom: 0;
	transition: all .5s;
}
nav, li, a{
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #444;
	font-size: 11px;
	font-weight: bold;
}
header{
	text-align: center;
	transition: all 0.5s;
	height: 65px;
	display: block;
}
.content{
	padding-top: 65px !important;
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
  }
  
  .sticky + .content {
	padding-top: 102px;
  }
#menuBar{
	z-index:100;
}
#header{
	display: inline-block;
	top: 0;
	width:100%;
	background-color: white;
	position: fixed;
	border-bottom: 0.1px solid #F0F0F0;
	z-index: 10;
}