.container{
    background-image: url(../../assets/images/bg.jpg);
    background-repeat: no-repeat;
    background-position: 60% 70%;
    background-size: cover;
    text-align: center;
    min-height: 90vh;
    height: auto;
}
.roundImgDiv{
    display: inline-block;
    position: relative;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-color: white;
    border-style: solid;
    border-width: 3px;
    right: 0;    
}
.roundImg{
    width: 100%;
    height: auto;
}
h1 {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    line-height: 70px;
    color: #999;
}

h4{    
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    position: relative;
    color: #425BB5;
    font-size: 19px;
    font-weight: bolder;
    /* width: 18%;
    margin-left: 42%; */
    
}
 h4::before{    
    position: relative;
    width: 30px;
    content: "";
    display: block;
    height: 2px;
    background: #425BB5;
    top: 12px;
}
@media only screen and (min-width: 992px){
    h4::before{
        left: 39%;
    }
    
}
@media only screen and (max-width: 1336px){
    .roundImgDiv{
        margin-top: 9%;
    }    
}
@media only screen and (min-width: 1337px){
    .roundImgDiv{
        margin-top: 6%;
    }    
}
@media only screen and (max-width: 991px){
    h4::before{
        left: 35%;
    }
    .roundImgDiv{
        margin-top: 16%;
    }
}
@media only screen and (max-width: 650px){
    h4::before{
        left: 30%;
    }
}
@media only screen and (max-width: 500px){
    h4::before{
        left: 27%;
    }
}

@media only screen and (max-width: 450px){
    h4::before{
        left: 17%;
    }
}
@media only screen and (max-width: 350px){
    h4::before{
        left: 12%;
    }
}