.container{
    /* background-image: url(../../assets/images/bg.jpg);
    background-repeat: no-repeat;
    background-position: 60% 70%;
    background-size: cover; */
    background-color: white;
    text-align: center;
    min-height: 89.6vh;
    height: auto;
}
.roundImgDiv{
    display: inline-block;
    position: relative;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-color: #425BB5;
    border-style: solid;
    border-width: 3px;
    right: 0;    
    margin-top: 6%;
}
.roundImg{
    width: 100%;
    height: auto;
}
h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 39px;
    line-height: 57px;
    color: #673ab7;
    /* #E31B6D */
}

h4{    
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    position: relative;
    color: #425BB5;
    font-size: 19px;
    font-weight: bolder;
}
 h4::before{    
    position: relative;
    width: 30px;
    content: "";
    display: block;
    height: 2px;
    background: #425BB5;
    top: 12px;
    left: calc(50% - 117px);
}