
<div class="container">
  <div fxLayout="row"><div fxFlex>
    <div class="roundImgDiv" data-aos="zoom-in" data-aos-duration="300">
    <img class="roundImg" alt="Background image" src="../assets/images/profile.jpg">
  </div>
  <div class="nameStyle" data-aos="fade-up" 
  data-aos-duration="300"><h4>Shashvat Gupta</h4></div>
  <h1 data-aos="fade-right">I'm a full-stack<br/> Developer.</h1>
  </div>
  <div fxFlex>
    <br>
    <br>
    <br>
      <span class="">AngularJS</span><mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
  </div> 
  <div fxFlex="5"></div> 
</div>
</div>
  